body > :nth-child(odd) {
    background-color: #df8787;
    font-family: Verdana, 'Dejavu Sans', sans-serif;
}

#oneID {
    color: #0000ff;
    font-size: 32px;
}

.third {
    font-size: 24px;
}

.fourth {
    background-color: #21fe21;
    font-size: 24px;
    font-weight: bold;
}